*{
    margin: 0;
    padding: 0;
}
.hStyle{
    background-color: #55ff;
    color: #fff;
    padding:15px;
    text-align: center;
}
.card{
    background: #65f455;
    box-shadow: 2px 4px 4px;
    border-radius:5px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    display: inline-block;
}
.cardTitle{
    text-align: center;
    margin-bottom: 5px;
}
.cardDesc{
    text-align:justify;
    text-align:center;
    margin-bottom: 5px;
}
.cardFooter{
    text-align: center;
    font-weight: bold;
}